
body {
    background-image: url("homepage.jpg");
    background-image: url("/static/img/knowledge.jpg");
    overflow: auto;
    
}


 
#list {
    background-color:blue; 
    display: inline-block;
    
    padding: 50px;
}


.btn {
    background-color: white;
    border: none;
    border-radius: 0px;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;}

<<<<<<< HEAD
=======
.btn: hover {
    background-color: white;
}
#profile {
	background: url("/static/img/pretty.jpg");
	overflow: auto;
}
.profile {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.profile > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}
>>>>>>> 0c770e1e9aaf917d625039efc34290b4da1df152


input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 13%;
}


#home {
    border: none;
    color: gray;
    padding-bottom: 10px;

}

#logo
{   position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    border: none;
}



