<!DOCTYPE html>
<html>
<head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<title>Add Video</title>
</head>

<body >
<div>
<center>
    <h1> Add a Video!</h1>
    <br>
    <br>
    <br>
    <br>
    <form action='{{url_for("add_video")}}' name = "add_video" method='post'>
    URL:<br>
    <input type="text" name="video_url" >
    <br>
    Username:<br>
    <input type="text" name="username">
    <br>
    Category:
    <br>   
    <input type="text" name="category">
    <br>

    <input type="submit" value="Submit">
    </form> 
    


</center>
</div>
<button id="Home"><a href="http://127.0.0.1:5000/">Home</a></button>
</body>
</html>
