<!DOCTYPE html>
<html>

<head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<title>Categories</title>
</head>
<body class="Categories">

<div id="logo"> <img src = "{{ url_for('static', filename='img/newlogo.png')}}"/> </div>



	<h1 style="color:gray;font-family:sans-serif;text-align: center;">Choose a category and start Learning!</h1>
	<center>
		<table>
			<tbody>
				<tr>
					<td>
						<div class = "my_class">
							<img src="{{ url_for('static', filename='img/music.png') }}" style="width:300px;height:300px;"><br><br>
							<h4 style="text-align:center"><a href="http://127.0.0.1:5000/categories/Music">Music Genres</a></h4>
						</div>
					</td>
					<td>
					<div>
					<img src="{{url_for('static', filename='img/logo.jpg') }}" style="width:300px;height:300px;"><br><br>

							<h4 style="text-align:center"><a href="http://127.0.0.1:5000/categories/Hairstyles">Hairstyles</a></h4></div></td>
				</tr>
				<tr>

					<td>
					<div> <img src="{{ url_for('static', filename='img/dancing.png') }}" style="width:300px;height:300px;margin-bottom: 20px;"><br><br>

												<h4 style="text-align:center"><a href="http://127.0.0.1:5000/categories/Dance-Genres">Dance Genres</a></h4></div></td>
					<td><div><img src="{{ url_for('static', filename='img/languages.png') }}" style="width:300px;height:300px;"><br><br>

												<h4 style="text-align:center"><a href="http://127.0.0.1:5000/categories/Languages">Languages</a></h4></div></td>
				</tr>
				<tr>
					<td><div><img src="{{ url_for('static', filename='img/food.gif') }}" style="width:300px;height:300px;"><br><br>

												<h4 style="text-align:center"><a href="{{ url_for('selected_category', cat='food')}}">Food Recipes</a></div></td>
					<td><div><img src="{{ url_for('static', filename='img/facialcare.png') }}" style="width:300px;height:300px;"><br><br>

												<h4 style="text-align:center"><a href="http://127.0.0.1:5000/categories/Facial-Care">Facial-Care</a></h4></div></td>
				</tr>
			</tbody>
		</table>
	</center>
	<button id="home"><a href="http://127.0.0.1:5000/">Home</a></button>
</body>
</html>