<!DOCTYPE html>
<html>
<head>
	<title>favorites</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="logo"> <img src = "{{ url_for('static', filename='img/newlogo.png')}}"/> </div>
<center>
<br>
	<h1 style="color: gray"> My Favorties</h1>
	<br>
</center>
<p>Find the tutorial of your choice:</p>
<form>
  <input type="text" name="search" placeholder="Search..">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<br>
<button id="Home"><a href="http://127.0.0.1:5000/">Home</a></button>
</body>
</html>