<!DOCTYPE html>
<html>
  <head>
      <title>IDeAS</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    
    <button><a href="{{url_for('sign_in')}}">Sign In</a></button>
    <button><a href="{{url_for('sign_up')}}">Sign Up</button>
     
    <div id="center">
    <span id="logo"> <img src = "{{ url_for('static', filename='img/hihi.png')}}"/></span> </div>
    <div class="button">

    <button class="btn"><a href="{{url_for('home')}}">Home and Most Popular Videos</a>
    <button class="btn"> <a href="{{url_for('categories')}}">Categories</a></button>
    <button class="btn"><a href="{{url_for('favorites')}}">Favorites</a></button>
    <button class="btn"><a href="{{url_for('profile')}}">My Profile</a></button>   
  </div>

  <div id="video-container">
  {% for video in videos %}
  <div class="video-display">
  <h3>{{video.category}} by {{video.username}}</h3>
  <br>
  <iframe width="420" height="315"
src="{{video.video}}">
</iframe>
  
  </div>
  {% endfor %}
  </div> 
  </body>

</html>
