<!DOCTYPE html>
<html>
  <head>
      <title>IDeAS</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    
    <button><a href="http://127.0.0.1:5000/sign_in">Sign In</a></button>
    <button>Sign Up</button>
     
    <div id="center">
    <span id="logo"> <img src = "{{ url_for('static', filename='img/hihi.png')}}"/></span> </div>
    <div class="button">
    <button class="btn"><a href="http://127.0.0.1:5000/">Home and Most Popular Videos</a></button>
    <button class="btn"> <a href="http://127.0.0.1:5000/categories">Categories</a></button>
    <button class="btn"><a href="http://docs.sqlalchemy.org/en/latest/core/selectable.html?highlight=tables">Favorites</a></button>
    <button class="btn"><a href="http://docs.sqlalchemy.org/en/latest/core/selectable.html?highlight=tables">My Profile</a></button>
   
    
    

   
  </div>
  </body>
</html>
