<!DOCTYPE html>
<html>
<head>
  <title>profile</title>
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="logo"> <img src = "{{ url_for('static', filename='img/newlogo.png')}}"/> 
<textarea></textarea>
</div>

<center>
<br>
<h1 style="color: gray">My Profile</h1>
</center>
<img src="{{ url_for('static', filename='img/profile_picture.png')}}">
<div>
<button id="home"><a href="http://127.0.0.1:5000/">Home</a></button>
<footer><a href="http://meet.mit.edu">MEET </a> </footer></div>
</body>
</html>