<!DOCTYPE html>
<html>
<head>
  <title>profile</title>
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="logo"> <img src = "{{ url_for('static', filename='img/newlogo.png')}}"/> 


</div>
<</div>


<center>
<br>
<h1 style="color: black; font-family:Courier; font-size: 60px">My Profile</h1>
</center>
<div style="float:left;padding-right:60px"><img src="{{profile.picture}}" style="width:400px;clip-path: circle(400px at center)";></div>

<br>
<div>

<div style="margin-top:40px;padding-left: 60px; font-size: 40px; font-family: Courier;">{{profile.username}}<br>{{profile.interests}}<br>{{profile.bio}}</div><br><br><br><br>
<footer style="position:absolute; bottom:20px; left:20px;"><a href="http://meet.mit.edu">MEET </a> </footer></div>
<button id="home" style="position:absolute; left:20px; top:20px;"><a href="http://127.0.0.1:5000/">Home</a></button>

</body>
</html>