<!DOCTYPE html>
<html>
<head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<title>sign_in</title>
</head>

<body >
<div>
<center>
    <h1 style="color:gray">Enter Your UserName and Password</h1>
    <br>
    <br>
    <br>
    <br>
    <form >
    User Name:<br>
    <input type="text" name="UserName" >
    <br>
    Password:<br>
    <input type="Password" name="Password">
    <br><br>
    <input type="submit" value="Submit"><a href="{{url_for('sign_in')}}"></a>
    	
    </form> 
    


</center>
</div>
<button id="home"><a href="http://127.0.0.1:5000/">Home</a></button>
</body>
</html>